<div class="row">
  <div class="col-xs-12">
    <img
      src="https://assets.epicurious.com/photos/57c5c6d9cf9e9ad43de2d96e/6:4/w_620%2Ch_413/the-ultimate-hamburger.jpg"
      alt="stuff"
      class="img-responsive"
      style="max-height: 500px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Hamburger</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add to Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delet Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Description</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Ingredients</p>
  </div>
</div>
