<div class="row">
  <div class="col-xs-12">
    <img
        *ngIf="recipeToShow"
      [src]="recipeToShow.imagePath"
      alt="{{recipeToShow.name}}"
      class="img-responsive rounded-corners"
      style="max-height: 500px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2 *ngIf="recipeToShow">{{recipeToShow.name}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appToggleMenu>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer" (click)="onAddToList()">Add to Shopping List</a></li>
        <li><a style="cursor: pointer" (click)="onEditThisRecipe()">Edit Recipe</a></li>
        <li><a style="cursor: pointer" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
      <hr>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p *ngIf="recipeToShow">{{recipeToShow.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Ingredients</h4>
    <ul class="list-group" *ngIf="recipeToShow && recipeToShow.ingredients">
      <li class="list-group-item" *ngFor="let ingredient of recipeToShow.ingredients">
        {{ingredient.name}} - ({{ingredient.amount}})
      </li>
    </ul>
  </div>
</div>
